<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuFwJURgWw8_ugL96xXyhzT6Cpo8RnRR4</string>
	<key>GCM_SENDER_ID</key>
	<string>995372856936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petpas</string>
	<key>PROJECT_ID</key>
	<string>pet-pass-f6206</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-pass-f6206.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995372856936:ios:967eb1073ef7ec7c95addd</string>
</dict>
</plist>